*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: pink;
    height: 100vh;
}

h1{
    font-size: 2rem;
}

h2{
    text-align: center;
}

label{
    font-size: 1.3rem;
    text-align: center;
}

div{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    border: 3px solid white;
    min-width: 90%;
    min-height: 90vh;
    padding: 1rem;
    background-color: rgb(230, 174, 182);
    box-shadow: 0px 0px 10px 5px;
    border-radius: 15px;
}

button{
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 30px;
    background-color: white;
    color: palevioletred;
    font-weight: 800;
    border: 2px solid white;
    width: 80%;
    margin-top: 1rem;
}

button:hover{
    border: 2px solid white;
    background-color:rgb(190, 144, 152);
    color: white;
}

li{
    font-size: 1rem;
}


#guessnumber{
    width: 80%;
    text-align: center;
    border: 3px solid white;
    background-color: rgb(190, 144, 152);
    color: white;
    height: 2rem;
    border-radius: 10px;
}

input:focus{
    outline: none;
    border: 3px solid white;
}

input::placeholder{
    color: white;
    font-size: 1rem;
}

input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield; /* Fallback för Firefox */
}

/* Anpassa resten av utseendet efter behov */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

@media (min-width: 768px){
    button{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    
    max-width: 40%;
    margin: 0.2rem;
    }

    div{
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    border: 3px solid white;
    min-width: 40%;
    max-width: 40%;
    min-height: 70%;
    max-height: 70%;
    padding: 1rem;
    background-color: rgb(230, 174, 182);
    box-shadow: 0px 0px 10px 5px;
    border-radius: 15px;
    }

    h1{
        font-size: 2rem;
    }

    label{
        font-size: 1.2rem;
    }

    li{
        font-size: 0.8rem;
    }

    #guessnumber{
        height: 1.5rem;
        padding: 1rem;
        width: 50%;
    }

    input::placeholder{
        font-size: 1.2rem;
    }

    h2{
        font-size: 1.3rem;
    }
}